<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Perfil</title>
<!-- Required meta tags -->
<meta http-equiv=”Content-Type” content=”text/html; charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
/* label { */
/* 	display: block; */
/* 	padding-left: 15px; */
/* 	text-indent: -15px; */
/* } */

 input[type=checkbox] { 
/* 	width: 13px; */
/* 	height: 13px; */
 	padding-left: 10px;
 	margin-left: 10px; 
/* 	vertical-align: bottom; */
/* 	position: relative; */
/* 	top: -1px; */
/* 	*overflow: hidden; */
 } 
ul {
  list-style-type: none;
}
/* li { */
/* display:block;} */
li div { display: table-cell; vertical-align: middle; }

</style>

<body>


	<div class="container my-2">
		<div class="card">
			<div class="card-body">


				<input type="hidden" id="idProducto" th:value="${producto.idProducto}">

				<table class="table">
					<thead>
						<tr>
							<th scope="col">titulo</th>
							<th scope="col">descripcion</th>
							<th scope="col">precio</th>
							<th scope="col">descuento</th>
						</tr>
					</thead>
					<tbody id="bodytabla">
						<tr>
							<td style="display: none;" id="idTd"><span id="idSpan"
								th:text="${producto.idProducto}"> </span></td>
							<td><span th:text="${producto.titulo}">
									Titulo </span></td>
							<td><span th:text="${producto.descripcion}">
									Descripcion </span></td>
							<td><span th:text="${producto.precio}">
									Precio </span></td>
							<td><span th:text="${producto.descuento}">
									Descripcion </span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>
</body>
</html>