<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>¡Bienvenido a la web!</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<style type="text/css">
	h1 {
		text-align: center;
		margin: 0.5em;
		padding: 1em;
	}
	.entrada {
		margin: 1% 33%;
		align-content: center;
		width: auto;
	}
	.boton {
		margin: 0.5em 0em;
		align-content: center;
	}
	.imagen {
		display: block;
  		margin-left: auto;
 		margin-right: auto;
 		width: 70%;
	}
	</style>
</head>
<body>
	<h1>¡Bienvenido!</h1>
	<form method="post" th:action="@{/index}" autocomplete="on">
		<div class="form-group entrada">
			<div class="custom-control custom-radio">
				<input type="radio" name="crear" value="crear" class="custom-control-input" id="1">
				<label for="1" class="custom-control-label">Crear</label>
			</div>
			<input type="submit" value="Empezar" class="btn btn-primary boton" />
		</div>
	</form>
	<table>
	<tr th:each="Producto: ${lista}">
    	<td th:text="${Producto.titulo}" />
	</tr>
	</table>
</body>
</html>