<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>¡Bienvenido a la web!</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<style type="text/css">
	h1 {
		text-align: center;
		margin: 0.5em;
		padding: 1em;
	}
	.entrada {
		margin: 1% 33%;
		align-content: center;
		width: auto;
	}
	.boton {
		margin: 0.5em 0em;
		align-content: center;
	}
	.imagen {
		display: block;
  		margin-left: auto;
 		margin-right: auto;
 		width: 70%;
	}
	</style>
</head>
<body>
	<h1>¡Bienvenido!</h1>
	<form method="post" th:action="@{Producto/buscar}" autocomplete="on">
		<div class="form-group entrada">
			<label for="1" class="custom-label">Nombre del articulo:</label>
			<input type="search" name="titulo" id="1">
			<input type="submit" value="Buscar" class="btn btn-primary boton" />
		</div>
	</form>
	<div class="form-group entrada">
		<form method="post" th:action="@{/Producto/Crear}" autocomplete="on">
			<input type="submit" value="Crear" class="btn btn-primary boton" />
		</form>
	</div>
	<table>
	<tr th:each="Producto: ${lista}">
    	<td>
    		<a th:href="@{/Producto/{id}(id=${Producto.id})}" th:text="${Producto.titulo}"></a>
		</td>
	</tr>
	</table>
</body>
</html>